<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple File Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <div class="d-flex justify-content-center align-items-center h-75 w-75 mx-4">

        <form id="file-upload-form" enctype="multipart/form-data">
            {% csrf_token %}
            <h4><label for="file" class="form-label">Simple File Upload</label></h4>
            {{form}}
            <br /><br />
            <a class="btn btn-primary" id="file-upload-button">Upload</a>
            <br /><br />
            <div id="upload-status">
                <h6>Upload Progress: <span id="progress"></span>%</h6>
                <h6>Total Time Taken (s): <span id="time-taken">Calculating ....</span></h6>
            </div>
        </form>

    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        let fileName
        let updateProgressInterval

        $('#upload-status').hide()

        $("#file-upload-button").click(function (event) {

            var formData = new FormData()
            formData.append('file', $('#id_file').prop('files')[0])
            formData.append('csrfmiddlewaretoken', $("input[name=csrfmiddlewaretoken]").val())

            $.ajax({
                url: "/simple-file-upload/",
                type: 'POST',
                data: formData,
                // talk about process data and contenttype in blog
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res);
                }
            });

            fileName = $('#id_file').prop('files')[0].name

            $('#upload-status').show()

            updateProgressInterval = setInterval(updateProgress, 300);

        })

        function updateProgress() {
            $.ajax({
                url: '/simple-file-upload/progress?filename=' + fileName,
                async: true,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {

                    $('#progress').text(response.progress_perc)
                    $('#time-taken').text(response.time_taken_s)

                    if (response.progress_perc == 100) {
                        clearInterval(updateProgressInterval)
                    }

                },
                error: function (xhr, status, error) {
                    alert('Request to fetch file upload progress failed: ' + xhr.responseText);
                    console.log(status)
                    console.log(error.message)
                }
            });
        }
    });
</script>

</html>